* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
}

@keyframes gelis {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

body{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 400vh;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar {
    width:1350px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 300px;
    margin-top: 30px;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #47474757;
    border-radius: 50px;
    animation: gelis 1s ease-in-out forwards;
}

.logo {
    width: 200px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li a::after {
    content: '';
    background:#d6a33b;
    width: 135%;
    height: 200%;
    border-radius: 30px;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
}

nav ul li a:hover::after{
    top: 50%;
    opacity: 1;
}


.content {
    text-align: center;
}

.content h1 {
    font-size: 40px;
    font-weight: 600;
    color: #d6a33b;
    margin-bottom: 25px;
    text-shadow: 2px 2px 2px #816120;
    animation: gelis 1.4s ease-in-out forwards;
}

.content p {
    font-size: 15px;
    font-weight: 600;
    color: rgb(218, 215, 215);
    text-shadow: 2px 2px 4px rgb(66, 63, 63);
    line-height: 1.5;
    animation: gelis 1.8s ease-in-out forwards;
}

.kesfetbutton{
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: whitesmoke;   
    background-color:  #f0ac25;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    animation: gelis 2.2s ease-in-out forwards;
    cursor: pointer;
    border: none;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.kesfetbutton:hover{
    color:  #fcb604;
}

.kesfetbutton::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(230, 224, 224);
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.kesfetbutton:hover::before{
    height: 180%;
}

.back-video {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width:1920px;
    height:1080px;
    filter: contrast(100%) brightness(0.9) saturate(90%) blur(0.7px);
}

@media (max-aspect-ratio:16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}


.blok{
    width: 100%;
    height: 300px;
    /* background: linear-gradient(135deg, rgb(138, 138, 139) 17%, rgb(168, 168, 168) 94%);    */
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    margin-top: 115px;
}

.blokText{
    width: 550px;
    height: 225px;
    background: rgb(196,132,2);
    background: linear-gradient(135deg, rgb(223, 159, 30) 17%, rgba(255,204,103,1) 100%);
    text-align: center;
    border-radius: 20px;
    color: whitesmoke;
    padding-top: 20px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px 3px rgb(221, 150, 18);
}


.blokP{
    padding-top: 10px;
    font-weight: 600;
}

.secondPage{
    width: 1350px;
    /* background-color: #fff; */
    height: 1400px;
    margin-left: auto;
    margin-right: auto;
}


.container {
    width: 100%;
   height: 100vh;
    padding: 0 8%;
}

.container h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 700;
    position: relative;
}

.container h1::after{
    content: '';
    background: #585858;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 150px;
    
}

.service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
    box-shadow: 3px 3px 3px 3px rgb(255, 187, 0);

}

.service i{
font-size: 40px;
margin-bottom:10px;
color: #646464;

}
.service h2{
    font-weight: 600;
    margin-bottom: 8px;
}
.service:hover {
    background:#f1a949 ;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 3px 3px 3px 3px #f1a949;

}
.service:hover i{
    color: #fff;

}
.secondpage-image{
    
    position: absolute;
    right: 0;
    top: 110%;
    bottom: 0;
    z-index: -1;
    height:1800px;
    width: 100%;

}

.about {
    
    width: 100%;
    padding: 78px 0px;
    background-color: #24222A;
    

}
 .about-img {
    height: auto;
    width: 420px;
    
 }

 .about-text {
    width: 550px;
    color: #fcb604;
/* text-align: center; */

 }
 .main{
    width: 1150px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    
    
 }

.about-text-h1{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    
}
.about-text-h5{
    font-size: 20px;
    font-weight: 600px;
    margin-top: 20px ;
    margin-bottom: 20px;
}

.about-text-p{
    font-size:16px;
    font-weight: 500;
}

.about-button{
 display: flex;
 margin-top: 30px;
position: relative;
color: #fff;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 30px;
  transition: 0.5s;
  border: none;
  border-radius: 7px;

}

.about-button:hover{
   color: white;
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    cursor: pointer;
}

about-button:before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.referans{
    max-width: 100%;
    margin: 0 auto;
    background-color: #24222A;
}


.satir{
    display: block;
    text-align: center;

}

.satir img{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    
}


.referans-baslik{
    text-align: center;
    display: block;
    padding-top: 20px;
    color: white;
}

.sertifika-baslik{
    text-align: center;
    display: block;
    padding-top: 20px;
    color: black;
}



.footer {
    width: 100%;
    /* height: 50%; */
    position: absolute;
    background: #131218;
    color: #fff;
    padding: 100px  30px;
    font-size: 16px;
    line-height: 20px;
   
    

}
.row-footer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.col {
    flex-basis: auto;
    padding: 10px;
}

.col h3 {
    width: fit-content;
    margin-top: 20px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 2px solid white;
    margin-top: 30px;
    font-size: 20px;
}

.footer-number {
    margin-top: 30px;
    font-size: 20px;
}

ul li {
    list-style-type: none;
    margin-bottom: 10px;
    


}


.col-h3 {
    width: fit-content;
    margin-top: 20px;
    position: relative;
}

.form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
   justify-content: space-between;
    border-bottom: 2px solid #fff;
    margin-bottom: 50px;

}

form .fa-envelope {
    margin-right: 10px;
    margin-top: 20px;
}
form input {
    display: inline-block;
    margin-top: 20px;
    width: 65%;
    padding: 10px 20px;
  border-radius: 7px;
  font-size: 16px;
  color: #333333;
  background-color: rgb(255, 255, 255);
  border: none;
}
form button {
    display: inline-block;
  padding: 11px 30px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #df6951;
  z-index: 100;
  cursor: pointer;
border: none;
transform: translate(-20%);
}

form button:hover{
    background-color: #ff2a00;
    cursor: pointer;
}


@media (max-width: 700px) {
    .footer{
        bottom: unset;
    }
    .col {
        flex-basis:100% ;
    }
    .col:nth-child(2), .col:nth-child(3) {
        flex-basis:100% ;
    }
    .form-input{
        width: 61%;
        
    }
   
}


.contact {
    display: flex;
    flex-direction: column;
    background-color:#131218 ;
    justify-content: center;
    align-items: center;
  
}

.contact h1 {
    margin-bottom: 20px;
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

.contact input {
     background-color: #fff;
    width: 30%;
    font-size: 10px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px; 
    
}

textarea {
    background-color: #fff;
    width: 30%;
    /* margin-left: 12%; */
    font-size: 13px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    
}
.contact input:focus-within {
    outline: none;
    border-color: black;
    border-width: 3px;

}

textarea:focus-within {
    outline: none;
    border-color: black;
    border-width: 3px;
    
} 
.contact button {
    size: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    padding: 15px 15px;
    text-align: center;
    display: flex;
    margin: auto;
}

.contact button:hover {
    opacity: 80%;
    cursor: pointer;

}

