* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
}

body{
    height: 200vh;
}

.info-hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gecis-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #f1a949;
    color: white;
    cursor: pointer;
}

.gecis-button:hover{
    transform: scale(1.05);
}
 
.information-page{
    background-color: #ab8b62;
    width: 100%;
    height: 960px;
}
